@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Gilroy";
}

h3{
    font-weight: medium;
    font-size: 32px;
}

input:focus-visible{
    outline: none;
}

select:focus-visible{
    outline: none;
}
